@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/raleway";
@import "@fontsource/raleway/600";
@import "@fontsource/raleway/700";

@import "@fontsource/source-sans-3";
@import "@fontsource/source-sans-3/600";
@import "@fontsource/source-sans-3/700";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    @apply font-body text-lg;
}

@layer components {
    h1, h2, h3, h4, h5, h6 {
        @apply font-headings font-semibold mb-4 leading-normal;
        @apply text-center lg:text-left;
    }

    h1 {
        @apply text-[32px] lg:text-[64px];
    }

    section {
        @apply px-6 lg:px-12;
    }

    section.hero {
        @apply py-[75px] lg:py-[175px];
    }

    header {
        @apply 2xl:h-[136px] 2xl:pt-8 2xl:pb-9 2xl:relative;
    }

    header, section {
        @apply 2xl:px-[167px];
    }

    .logo {
        @apply text-black;
    }

    .logo.large, .logo {
        @apply w-[270px];
    }

    .logo.small {
        @apply w-[156px];
    }

    .logo.medium {
        @apply w-[200px];
    }

    button {
        @apply px-[70px] py-5 rounded-full border-transparent border-2;
        @apply text-[20px];
    }

    button.icon {
        @apply p-2 -mr-2 border-none rounded-full;
    }

    button.contained {
        @apply bg-scarlet text-white;
    }

    button.outlined {
        @apply border-white bg-transparent text-white;
    }
}

@layer utilities {
    .a11y-hidden { 
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
    }

    .a11y-visible {
        position: static;
        overflow: visible;
        clip: auto;
    }
}

.navlink.active {
    @apply font-semibold text-scarlet;
}