@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/raleway';
@import '@fontsource/raleway/600';
@import '@fontsource/raleway/700';

@import '@fontsource/source-sans-3';
@import '@fontsource/source-sans-3/600';
@import '@fontsource/source-sans-3/700';
@import '@fontsource/source-sans-3/900';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply font-body text-lg;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-headings font-bold leading-normal;
    @apply text-center lg:text-left;
  }

  h1 {
    @apply text-[32px] lg:text-[64px];
  }

  h2 {
    @apply text-[30px] lg:text-[48px] font-extrabold;
  }

  h2:not(.hero h2, h2.no-stripe):after {
    @apply w-[174px] h-[2px] bg-scarlet block m-auto lg:m-0 content-[''];
  }

  h3 {
    @apply text-[20px] lg:text-[32px]
  }

  section, footer .inner {
    @apply px-6 lg:px-12;
    @apply mt-8 lg:mt-14;
  }

  section.hero {
    @apply py-[75px] lg:py-[175px] mt-0;
  }

  header {
    @apply 2xl:relative 2xl:h-[136px] 2xl:pb-9 2xl:pt-8;
  }

  header, section, footer .inner {
    @apply 2xl:px-[167px];
  }

  .logo {
    @apply text-black;
  }

  .logo.large,
  .logo {
    @apply w-[270px];
  }

  .logo.small {
    @apply w-[156px];
  }

  .logo.medium {
    @apply w-[200px];
  }

  button {
    @apply rounded-full border-2 border-transparent px-[70px] py-5;
    @apply text-[20px];
    @apply transition-colors;
  }



  button.icon {
    @apply -mr-2 rounded-full border-none p-2;
  }

  button.contained {
    @apply bg-scarlet text-white;
    @apply hover:bg-blush;
  }

  button.contained.white {
    @apply bg-white text-black;
    @apply hover:bg-gray-200;
  }

  button.contained.red {
    @apply bg-scarlet text-white;
    @apply hover:bg-red-600;
  }


  button.outlined {
    @apply border-white bg-transparent text-white;
    @apply hover:bg-white/[.1];
  }
}

@layer utilities {
  .a11y-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .a11y-visible {
    position: static;
    overflow: visible;
    clip: auto;
  }
}

.navlink.active {
  @apply font-semibold text-scarlet;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
 
  color: black;
}

.form-input input::placeholder {
  background: #f8f8f8;
}



.form-input2 input::placeholder {
  background: #f8f8f8;
}
/* styles.css */
.form-input2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

