/* Import the 'Source Sans 3' font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700;800&display=swap');

/* Import the 'Raleway' font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

.bg-cred {
  background-color: #F10D0C;
}

.border-r-scarlet {
  --tw-border-opacity: 1;
  border-right-color: rgb(241 13 12 / var(--tw-border-opacity));
}

.border-b-scarlet {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(241 13 12 / var(--tw-border-opacity));
}

/* Apply 'Source Sans 3' to headings */
h1,
h2,
h3,
h4,
h5,
h6,
.source {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 800;
}

/* Apply 'Raleway' to paragraphs, spans, and links */
p,
a {
  font-family: 'Raleway', sans-serif;
}

.btslideout {
  animation: btslideout 500ms 2s 1 ease-out both;
}

@keyframes btslideout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
.btslide2out {
  animation: btslide2out 950ms 3s 1 ease-out both;
}

@keyframes btslide2out {
  0% {
    top: 0;
  }

  100% {
    top: -100%;
  }
} */

.FadeOut {
  animation: FadeOut 650ms 1.5s 1 ease-out both;
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/truck_flipped.webp');
}

.scale-hover-in {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition-duration: 6s;
  -o-transition-duration: 6s;
  transition-duration: 6s;
  -webkit-transition-timing-function: cubic-bezier(.075, .82, .165, 1);
  -o-transition-timing-function: cubic-bezier(.075, .82, .165, 1);
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
}

.scale-hover-out {
  -webkit-transition: -webkit-transform .4s cubic-bezier(.455, .03, .515, .955);
  transition: -webkit-transform .4s cubic-bezier(.455, .03, .515, .955);
  -o-transition: transform .4s cubic-bezier(.455, .03, .515, .955);
  transition: transform .4s cubic-bezier(.455, .03, .515, .955);
  transition: transform .4s cubic-bezier(.455, .03, .515, .955), -webkit-transform .4s cubic-bezier(.455, .03, .515, .955);
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955), cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input[type=number]{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}